@import "tailwindcss";

@theme inline {
  --color-weddingGold-light: #F3E5AB;
  --color-weddingGold: #D4AF37;
  --color-weddingGold-dark: #AA7C11;
  --color-weddingWhite: #FAFAFA;
  --font-serif: var(--font-playfair), serif;
  --font-sans: var(--font-lato), sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-weddingWhite);
  font-family: var(--font-sans);
}

.swiper-pagination-bullet-active {
  background-color: var(--color-weddingGold) !important;
}

.swiper-button-next,
.swiper-button-prev {
  color: var(--color-weddingGold) !important;
}
